html *
{
    font-family: 'Raleway', sans-serif;
}

.header {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    min-height: 100vh; 
    padding: 0 0 0 0 !important;   
}

.hero {
    background: rgba(140,29,64,0.82);
    overflow: hidden;
    height: 100vh;
    z-index: 2;
    text-align: center;
}

.hero-content {
    margin-top: 17%;
}

.hero-title {
    color:white;
    text-transform: uppercase; 
}

.hero-subtitle {
    color:white;
    font-weight: 500;    
    padding-top: 50px;
}

.hero-action {
    font-size: 24px;
    font-weight: 500;
}

@media (min-height: 992px)
{
    .hero-title {
        font-size: 60px;
        font-weight: 700;    
    }

    .hero-subtitle {
        font-size: 40px;
    }

    .hero-action {
        padding-top: 200px;
    }
}


@media (max-height: 992px)
{
    .hero-title {
        font-size: 40px;
        font-weight: 700;    
    }

    .hero-subtitle {
        font-size: 30px;
    }

    .hero-action {
        padding-top: 100px;
    }
}

.hero-action-btn {
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    color: rgba(140,29,64,1);
    font-size: 24px;
    font-weight: 500;
    transition-duration: 200ms
}

.hero-action-btn:hover {
    background-color:transparent;
    color:white;    
}

.feature {
    padding:20px;
}

.feature header {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 10px;
}

.feature p {
    font-size: 18px;
    font-weight: 100;
    padding-top: 5px;
}

.section-desc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #8C1D40;
    text-transform: uppercase;
    border-bottom: 2px solid #8C1D40;
}

.inverted {
    color: white !important;
    border-bottom: 2px solid white;
}

.intro {
    padding: 20px;
}

.intro-content {
    padding-right: 20px;
}

.intro-content-hero {
    min-height: 200px;
}

.intro-content-img {
    position: relative;
}

.intro-content-img img {
    display: block;
    height: 100%;
    width: 100%;
  }
  
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.62;
    transition: .5s ease;
    background-color: #8C1D40;
    }

    .overlay-text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }


  .intro-content-img:hover .overlay {
    opacity: 0;
}

.intro-content header {
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    color: rgba(140,29,64,1);
}

.intro-content p {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.past-events {
    background-color: #F1F1F1;
}

.past-events ol {
    list-style: none;
}

.past-events ul {
    list-style: none;
}

.upcoming-events {
    background-color: #8C1D40;
}

.all-events {
    padding: 50px;
    color:white;
}

.upcoming-event {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.upcoming-event:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

.upcoming-event header a {
    font-size: 22px;
    color:white;
    text-decoration: none;
}

.upcoming-event .event-date {
    padding-top:20px;
    font-size: 16px;
}

.upcoming-event p {   
    font-size: 14px;
}

.footer {
    background-color: #1e1e1e;
}

.footer-content {
    padding-top: 50px;
    color: white;
}

.contact-link {
    color: #cecece;
}

.footer-content ul {
    list-style: none;
}

.social-media {
    display: inline-flex;
    display: -webkit-inline-flex;
    font-size: 40px;
}

.social-media li {
    padding-right: 20px;
}

.footer-list {
    padding: 0px;
}

.footer-list li {
    padding-bottom: 5px;
}

.footer-list a {
    color: #cecece;
}